<%= form_for(@link, :html => {:class => 'form-horizontal new_link'}) do |f| %>
  <%= render 'links/form-errors' %>

  <div class="field control-group">
    <%= f.label :url, "URL", :class => 'control-label' %>
    <%= f.text_field :url, :placeholder => 'Enter a URL to save' %>
  </div>

  <div class="field control-group">
    <%= f.label :title, :class => 'control-label' %>
    <%= f.text_field :title, :placeholder => 'Will use title of URL page if left empty' %>
  </div>
  <div class="field control-group">
    <%= f.label :description, :class => 'control-label' %>
    <%= f.text_area :description, :rows => '4', :placeholder => 'Optional' %>
  </div>
  <div class="actions control-group">
    <%= f.submit :class => 'btn btn-primary create-link' %>
  </div>
<% end %>
