<ul class='links-list'>
  <% @links.each do |link| %>
  <li>
    <span class='links-date' title="<%= link.created_at.to_s(:long_ordinal) %>"><%= link.created_at.strftime('%b %d') %></span>
    <% if link.user && link.user.displayname? %>
      <span class="links-author">
        - by <%= link.user.displayname %>
      </span>
    <% end %>
    <div class="links-block">
      <div class='links-title'><%= link_to (link.title? ? link.title : link.url), link.url, :target => '_blank' %></div>
      <% if link.description? %>
      <div class="links-desc"><%= link.description %></div>
      <% end %>
      <% unless link.tags.empty? %>
      <div class="tag-list">
        <% link.tags.each do |t| %>
          <span class="tag"><%= t.name %></span>
        <% end %>
      </div>
      <% end %>
      <% if can? :manage, link %>
        <span class="manage-links"><%= link_to 'Edit', edit_link_path(link) %> | <%= link_to 'Delete', link, :method => :delete, :confirm => "Are you sure?" %></span>
      <% end %>
    </div>

  </li>
  <% end %>
</ul>
