<ul class='links-list'>
  <li>
    <span class='links-date' title="<%= @link.created_at.to_s(:long_ordinal) %>"><%= @link.created_at.strftime('%b %d') %></span>
    <% if @link.user && @link.user.displayname? %>
      <span class="links-author">
        - by <%= @link.user.displayname %>
      </span>
    <% end %>
    <div class="links-block">
      <div class='links-title'><%= link_to (@link.title? ? @link.title : @link.url), @link.url, :target => '_blank' %></div>
      <% if @link.description? %>
      <div class="links-desc"><%= @link.description %></div>
      <% end %>
      <% unless @link.tags.empty? %>
      <div class="tag-list">
        <% @link.tags.each do |t| %>
          <a href="<%= tag_url t.name %>"><span class="tag"><%= t.name %></span></a>
        <% end %>
      </div>
      <% end %>
    </div>

  </li>
</ul>

<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
